*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 0px;
  -webkit-outline: none;
  outline: none;
  position: relative;
  min-width: 320px;
  max-height: 1000000px;
  min-height: 100vh;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active,
:hover,
:link {
  outline: none;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

strong {
  font-weight: bold;
}

iframe {
  display: block;
  border: none;
}

img {
  display: block;
  border: none;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

button,
select {
  display: block;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

button {
  width: auto;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

[type=search],
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  -webkit-outline: none;
  outline: none;
}

[type=search]::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[hidden],
::-ms-clear,
area {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  padding: 0;
}

menu,
dir {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

a {
  text-decoration: none;
  -webkit-outline: none;
  outline: none;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes heartbeaticon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heartbeaticon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
@keyframes jump {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
@-webkit-keyframes services_arrow {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
@keyframes services_arrow {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
* {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}

html, body {
  height: 100%;
}

.main_page {
  position: relative;
  /*overflow-x: hidden;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main_page_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.carousel font,
.footer font,
button.btn font,
a.btn font {
  color: #ffffff;
}

.header .basket_value font {
  font-size: 15px;
  line-height: 14px;
  color: #ffffff;
}

.overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  visibility: hidden;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.page_wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.first_title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0px;
  z-index: 5;
}
.first_title img {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  height: 38px;
}
.first_title h2 {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  margin-left: 15px;
  font-size: 30px;
  font-weight: 600;
}
.first_title:hover {
  cursor: pointer;
}
.first_title:hover h2 {
  color: #bb976d;
}
.first_title:hover img {
  -webkit-transform: scale(1.1) rotate(10deg);
          transform: scale(1.1) rotate(10deg);
}
.first_text {
  margin: 0 auto;
  max-width: 1600px;
  font-size: 14px;
  margin-bottom: 25px;
  font-weight: 500;
}

.category {
  padding: 2px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: #57534e;
  background-color: #e7e5e4;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* &.color_1 {

         background-color: $red-100; 
     }
     &.color_3 {

         background-color: $amber-100; 
     }
     &.color_6 {

         background-color: $fuchsia-100; 
     }
     &.color_7 {

         background-color: $sky-100; 
     }
     &.color_8 {

         background-color: $green-100; 
     }
     &.color_9 {

         background-color: $violet-100; 
     }
  */
}
.category:hover {
  color: #ffffff;
  font-weight: 500;
  background-color: #ADACAC;
}

.header_wrap {
  margin: 0 auto;
  max-width: 1600px;
}
.header_str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}
.header_str_first {
  background-color: #f5f5f5;
  padding: 10px 0px;
}
.header_str_first .header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_logo h1 {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 10px;
  color: #3c474e;
}
.header_logo .icon-logo {
  font-size: 28px;
  color: #bb976d;
}
.header_descr {
  font-weight: 500;
}
.header_search {
  position: relative;
}
.header_search input {
  border: 1px #b3b3b3 solid;
  border-radius: 4px;
  padding: 6px 40px 6px 15px;
  text-align: left;
  width: 250px;
  color: #b3b3b3;
  font-size: 12px;
}
.header_search .icon-search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  font-size: 14px;
  color: #b3b3b3;
}
.header_topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_topmenu li {
  position: relative;
  margin-right: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  color: #6b7280;
  font-weight: 600;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}
.header_topmenu li:hover {
  color: #bb976d;
}
.header_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_social p {
  margin: 0px 25px 0px 5px;
  font-weight: 500;
}
.header_social .icon-telegram {
  color: #32a9df;
}
.header_social .icon-phone {
  color: #67c15e;
}
.header_categories {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}
.header_category img {
  width: 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.header_category_title {
  margin-left: 8px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 600;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.header_category:hover img {
  -webkit-transform: scale(1.1) rotate(10deg);
          transform: scale(1.1) rotate(10deg);
}
.header_category:hover .header_category_title {
  color: #bb976d;
}
.header_category:hover .header_subcategories {
  display: block;
}
.header_subcategories {
  display: none;
  position: absolute;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  top: 47px;
  left: -10%;
  width: 120%;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  border: 1px #eee solid;
  -webkit-box-shadow: 4px 6px 8px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 6px 8px -7px rgba(34, 60, 80, 0.2);
  z-index: 35;
}
.header_subcategory {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  text-align: left;
  padding: 5px;
  margin: 5px;
}
.header_subcategory_title {
  font-size: 16px;
  color: black;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header_subcategory_title:hover {
  color: #bb976d;
}
.header_subcategory_item li {
  margin: 10px;
  text-align: left;
}
.header_subcategory_item li:hover a {
  background-color: #e5e5e5;
  color: #233353;
}
.header_subcategory_item li a {
  border-radius: 6px;
  padding: 5px 15px;
  color: #6b7280;
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_icons p {
  margin-right: 30px;
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.header_icons p span {
  position: relative;
  font-size: 24px;
  color: #999;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.header_icons p::before {
  content: "3";
  position: absolute;
  top: -20px;
  right: -10px;
  padding: 0px 8px;
  height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #bb976d;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  border-radius: 6px;
  z-index: 5;
}
.header_icons p .icon-heart {
  margin-top: 5px;
  font-size: 22px;
}
.header_icons p:hover {
  -webkit-animation: heartbeaticon 1.5s ease infinite;
          animation: heartbeaticon 1.5s ease infinite;
}
.header_icons p:hover span {
  color: #bb976d;
}
.header_icons p:last-child::before {
  display: none;
}

.carousel {
  max-height: 600px;
  background-color: #f5f5f5;
}
.carousel.media {
  margin-top: 50px;
}
.carousel .page_wrap {
  max-width: 1920px;
}
.carousel_inner {
  position: relative;
  margin: 0 auto;
}
.carousel_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}
.carousel_descr {
  position: absolute;
  left: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 650px;
  z-index: 1;
}
.carousel_title {
  font-size: 30px;
  line-height: 54px;
  font-weight: 600;
  color: #000;
  text-align: left;
}
.carousel_text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 160%;
  color: #000;
  text-align: left;
}
.carousel_text p {
  text-align: left;
  font-size: 14px;
  line-height: 160%;
  font-weight: 500;
  margin-bottom: 10px;
}
.carousel_text p span {
  margin-right: 5px;
  color: #bb976d;
}
.carousel_btn {
  margin-top: 30px;
  position: relative;
  padding: 9px 15px 6px;
  background-color: #bb976d;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.carousel_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(238, 224, 208, 0.2);
  border-radius: 6px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.carousel_btn:hover::before {
  width: 100%;
}
.carousel_img img {
  height: 600px;
}

.categories {
  display: none;
  padding: 30px;
}
.categories_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.categories_first img {
  height: 38px;
}
.categories_first h2 {
  margin-left: 15px;
  font-size: 30px;
  font-weight: 600;
}
.categories_first {
  margin-bottom: 20px;
}
.categories_wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
}
.categories_item {
  margin: 5px;
  padding: 15px 0px;
  width: calc((100% - 60px) / 6);
}
.categories_item img {
  margin: 0 auto;
  height: 200px;
}
.categories_title {
  padding: 15px;
  font-weight: 600;
}

.categories_1 {
  padding: 5px 5px 30px;
}
.categories_1_wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
}
.categories_1_item {
  position: relative;
  margin: 5px;
  padding: 15px;
  width: calc((100% - 60px) / 6);
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  /*         &.color_1 {
              &::after {
                  background: $bg-red-100;
              }  
          }
          &.color_2 {
              &::after {
                  background: $bg-cyan-100;
              }  
          }
          &.color_3 {
              &::after {
                  background: $bg-amber-100;
              }  
          }
          &.color_4 {
              &::after {
                  background: $bg-indigo-100;
              }  
          }
          &.color_5 {
              &::after {
                  background: $bg-emerald-100;
              }  
          }
          &.color_6 {
              &::after {
                  background: $bg-fuchsia-100;
              }  
          }
          &.color_7 {
              &::after {
                  background: $bg-sky-100;
              }  
          }
          &.color_8 {
              &::after {
                  background: $bg-green-100;
              }  
          }
          &.color_9 {
              &::after {
                  background: $bg-violet-100;
              }  
          }
          &.color_10 {
              &::after {
                  background: $bg-teal-100;
              }  
          }
          &.color_11 {
              &::after {
                  background: $bg-rose-100;
              }  
          }
          &.color_12 {
              &::after {
                  background: $bg-orange-100;
              }  
          }
          &.color_13 {
              &::after {
                  background: $bg-yellow-100;
              }  
          }
          &.color_14 {
              &::after {
                  background: $bg-pink-100;
              }  
          }
          &.color_15 {
              &::after {
                  background: $bg-lime-100;
              }  
          }
          &.color_16 {
              &::after {
                  background: $bg-purple-100;
              }  
          }
          &.color_17 {
              &::after {
                  background: $bg-blue-100;
              }  
          } */
}
.categories_1_item::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 151, 109, 0.15)), to(rgba(125, 185, 232, 0)));
  background: linear-gradient(to bottom, rgba(187, 151, 109, 0.15) 0%, rgba(125, 185, 232, 0) 100%);
  width: 100%;
  height: 90px;
  z-index: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.categories_1_color {
  position: relative;
  padding: 20px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0 5px 15px rgba(88, 110, 125, 0.1);
          box-shadow: 0 5px 15px rgba(88, 110, 125, 0.1);
  border-radius: 6px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 140px;
  z-index: 5;
}
.categories_1_color img {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  margin: 0 auto;
  height: 56px;
  opacity: 0.8;
}
.categories_1_color:before {
  content: "";
  background: linear-gradient(45deg, #BB976D, #DDBD98, #DDC5AA, #A6947F, #D3C1AD, #D3C6B7, #B69978, #DBC1A3, #DBC8B2);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.categories_1_color:hover img {
  opacity: 1;
}
.categories_1_color:hover:before {
  opacity: 1;
}
.categories_1_color:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #FAFAFA;
  border-radius: 10px;
}
.categories_1_title {
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  margin-top: 15px;
  font-weight: 600;
  color: #4b5966;
}

.bestsellers {
  padding: 5px 5px 30px;
  background-color: #f5f5f5;
}
.bestsellers_wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
}
.bestsellers_item {
  position: relative;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  border: 1px #eee solid;
  border-radius: 6px;
  width: calc((100% - 50px) / 5);
  background-color: #fff;
  -webkit-box-shadow: 4px 6px 8px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 6px 8px -7px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  z-index: 5;
  /*         &:hover {
              .bestsellers_img {
                  img {
                      transform: scale(1.05);
                  }
              }
          } */
}
.bestsellers_item:before {
  content: "";
  background: linear-gradient(45deg, #BB976D, #DDBD98, #DDC5AA, #A6947F, #D3C1AD, #D3C6B7, #B69978, #DBC1A3, #DBC8B2);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.bestsellers_item:hover:before {
  opacity: 1;
}
.bestsellers_item:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 10px;
}
.bestsellers_img {
  width: 100%;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  position: relative;
  border-bottom: 1px #eee solid;
}
.bestsellers_img img {
  position: relative;
  margin: 0 auto;
  width: 250px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 1;
}
.bestsellers_img:hover .bestsellers_img_obv {
  display: none;
}
.bestsellers_img:hover .bestsellers_img_rev {
  display: block;
}
.bestsellers_img_obv {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.bestsellers_img_rev {
  display: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.bestsellers_safety {
  position: absolute;
  padding: 3px 8px;
  top: 8px;
  right: 8px;
  border-radius: 6px;
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 600;
  z-index: 5;
}
.bestsellers_safety.XF {
  background-color: #fef9c3;
}
.bestsellers_safety.AU {
  background-color: #fae8ff;
}
.bestsellers_safety.UNC {
  background-color: #d1fae5;
}
.bestsellers_discont {
  position: absolute;
  padding: 3px 8px;
  top: 8px;
  left: 8px;
  border-radius: 6px;
  background-color: #22c55e;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  z-index: 6;
}
.bestsellers_company {
  position: absolute;
  padding: 3px 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 6px;
  background-color: #60a5fa;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  z-index: 6;
}
.bestsellers_company span {
  margin-right: 5px;
  font-size: 10px;
  font-weight: 600;
}
.bestsellers_descr {
  position: relative;
  padding: 20px 20px 10px;
}
.bestsellers_title {
  margin-top: 10px;
  text-align: left;
  font-weight: 600;
  color: #4b5966;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.bestsellers_title:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #bb976d;
  content: "";
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}
.bestsellers_title:hover {
  color: #bb976d;
}
.bestsellers_bottom {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 10px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.bestsellers_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.bestsellers_price {
  text-align: left;
  font-weight: 800;
  color: #4b5966;
  font-size: 20px;
}
.bestsellers_noprice {
  font-size: 12px;
  font-weight: 500;
  color: #bb976d;
  text-decoration: line-through;
}
.bestsellers_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bestsellers_icons p {
  margin-right: 10px;
}
.bestsellers_icons p .icon-heart {
  font-size: 26px;
  color: #999;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
.bestsellers_icons p:hover {
  -webkit-animation: heartbeaticon 1.5s ease infinite;
          animation: heartbeaticon 1.5s ease infinite;
}
.bestsellers_icons p:hover .icon-heart {
  color: #bb976d;
}
.bestsellers_icons button {
  position: relative;
  padding: 13px 13px 6px 11px;
  background-color: #bb976d;
  border-radius: 8px;
}
.bestsellers_icons button .icon-cart {
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}
.bestsellers_icons button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(238, 224, 208, 0.2);
  border-radius: 6px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.bestsellers_icons button:hover::before {
  width: 100%;
}

.news {
  padding: 5px 5px 30px;
}
.news_wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1600px;
}
.news_item {
  position: relative;
  width: calc((100% - 56px) / 4);
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.news_item:before {
  content: "";
  background: linear-gradient(45deg, #BB976D, #DDBD98, #DDC5AA, #A6947F, #D3C1AD, #D3C6B7, #B69978, #DBC1A3, #DBC8B2);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.news_item:hover:before {
  opacity: 1;
}
.news_item:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 10px;
}
.news_img {
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, rgb(234, 234, 234), rgb(255, 255, 255));
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px #eee solid;
  -webkit-box-shadow: 4px 6px 8px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 6px 8px -7px rgba(34, 60, 80, 0.2);
}
.news_img img {
  width: 100%;
}
.news_descr {
  padding: 10px 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news_descr h3 {
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.news_descr h3:hover {
  color: #bb976d;
}
.news_descr p {
  color: #777;
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
  text-align: right;
}

.materials {
  padding: 5px 5px 30px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.materials_wrap {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  z-index: 5;
}
.materials_item {
  position: relative;
  padding: 20px;
  margin: 15px;
  background: linear-gradient(135deg, rgb(234, 234, 234), rgb(255, 255, 255));
  -webkit-box-shadow: -7px -7px 25px #fff, 7px 7px 15px rgba(0, 0, 0, 0.1490196078);
          box-shadow: -7px -7px 25px #fff, 7px 7px 15px rgba(0, 0, 0, 0.1490196078);
  width: calc((75% - 120px) / 4);
  border-radius: 6px;
  cursor: pointer;
}
.materials_item img {
  height: 38px;
  margin-bottom: 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.materials_item h3 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
}
.materials_item p {
  font-size: 13px;
  text-align: left;
  font-weight: 500;
}
.materials_item:before {
  content: "";
  background: linear-gradient(45deg, #BB976D, #DDBD98, #DDC5AA, #A6947F, #D3C1AD, #D3C6B7, #B69978, #DBC1A3, #DBC8B2);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.materials_item:hover:before {
  opacity: 1;
}
.materials_item:hover img {
  -webkit-transform: scale(1.1) rotate(10deg);
          transform: scale(1.1) rotate(10deg);
}
.materials_item:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 10px;
}

.about {
  padding: 5px 5px 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about_wrap {
  margin: 0 auto;
  max-width: 1200px;
}
.about_str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.about_str p {
  position: relative;
  padding: 20px;
  margin: 10px;
  background: linear-gradient(135deg, rgb(234, 234, 234), rgb(255, 255, 255));
  -webkit-box-shadow: -7px -7px 25px #fff, 7px 7px 15px rgba(0, 0, 0, 0.1490196078);
          box-shadow: -7px -7px 25px #fff, 7px 7px 15px rgba(0, 0, 0, 0.1490196078);
  width: 40%;
  border-radius: 6px;
  font-size: 14px;
}
.about_str p b {
  font-weight: 600;
}
.about_str p span {
  position: absolute;
  top: 10px;
  left: -25px;
  padding: 3px 15px;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  background-color: #bb976d;
  -webkit-box-shadow: -7px -7px 11px -10px rgba(34, 60, 80, 0.6);
          box-shadow: -7px -7px 11px -10px rgba(34, 60, 80, 0.6);
}
.about_str .bottom::after {
  content: "";
  background: url(/img/icon/arrow_bottom1.png);
  position: absolute;
  bottom: -82px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: 33px 52px;
  width: 33px;
  height: 52px;
}
.about_str img {
  width: 100px;
  height: 33px;
}

.footer {
  position: relative;
  background-color: #3c474e;
  padding: 40px 0px;
  overflow: hidden;
}
.footer_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer_bg img {
  position: relative;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.footer_bg div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 71, 78, 0.95);
  z-index: 5;
}
.footer_wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}
.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_logo p {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
}
.footer_logo .icon-logo {
  font-size: 28px;
  color: #fff;
}
.footer_descr {
  color: #fff;
}
.footer h3 {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.footer_menu li {
  margin: 10px;
  font-weight: 500;
  color: #fff;
  text-align: left;
}
.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}
.footer_contact p, .footer_contact span {
  color: #fff;
}
.footer_contact p {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */