*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 0px;
  -webkit-outline: none;
  outline: none;
  position: relative;
  min-width: 320px;
  max-height: 1000000px;
  min-height: 100vh;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active,
:hover,
:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
  -webkit-outline: none;
  outline: none;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

iframe {
  display: block;
  border: none;
}

img {
  display: block;
  border: none;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

button,
select {
  display: block;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

button {
  width: auto;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

[type=search],
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  -webkit-outline: none;
  outline: none;
}

[type=search]::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[hidden],
::-ms-clear,
area {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  padding: 0;
}

menu,
dir {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-outline: none;
  outline: none;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes heartbeaticon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heartbeaticon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
@keyframes jump {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
@-webkit-keyframes services_arrow {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
@keyframes services_arrow {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
* {
  font-family: "AGKornelia";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #455A64;
}

.main_page {
  position: relative;
}

.page_wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  text-align: center;
  color: #23759C;
}
.title_big {
  font-size: 32px;
  line-height: 40px;
  color: #000;
}
.title_sections {
  position: relative;
  display: inline-block;
  font-size: 28px;
  line-height: 40px;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.title_sections::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 2px;
  margin: auto;
  width: 0%;
  background-color: #3193C1;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
}
.title_sections:hover::after {
  width: 100%;
}
.title_descr {
  font-size: 24px;
  line-height: 28px;
}
.title_middle {
  font-size: 20px;
  line-height: 26px;
}
.title_small {
  font-size: 18px;
  line-height: 24px;
}

.btn {
  position: relative;
  overflow: hidden;
  padding: 8px 27px;
  background: -webkit-gradient(linear, left top, right top, from(#237BA3), to(#208DBC));
  background: linear-gradient(90deg, #237BA3 0%, #208DBC 100%);
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
}
.btn::before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #A5D2E7;
  opacity: 0.3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pathway_link {
  margin-right: 20px;
  position: relative;
  text-transform: uppercase;
  color: #23759C;
  text-align: center;
}
.pathway_link:before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: -13px;
  border: solid #607D8B;
  border-width: 0 1px 1px 0;
  padding: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 5;
}

.line_big {
  color: #CFD8DC;
  width: 100%;
  size: 1px;
}

.arrow {
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 4px;
  margin: 4px 0px 0px 5px;
}
.arrow div {
  position: relative;
  width: 10px;
  height: 1px;
  background-color: #23759C;
  left: 0;
  display: block;
}
.arrow div::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 2px;
  top: -1px;
  right: -2px;
  background-color: #23759C;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.arrow div::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 2px;
  top: 0px;
  right: -2px;
  background-color: #23759C;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.first_title {
  padding-top: 40px;
}
.first_title .line_big {
  margin-top: 40px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px;
}
.pagination_number {
  display: block;
  padding: 8px 15px;
  margin-right: 5px;
  color: #23759C;
  font-size: 18px;
  line-height: 24px;
  border-radius: 8px;
}
.pagination_number:hover {
  background-color: #E3F1F4;
}
.pagination .current {
  background-color: #E3F1F4;
}
.pagination .dots:hover {
  background-color: #fff;
}

.header {
  position: relative;
  min-height: 72px;
}
.header nav {
  position: fixed;
  background-color: #fff;
  min-height: 72px;
  width: 100%;
  padding: 5px 5px;
  z-index: 5;
}
.header .shadow {
  -webkit-box-shadow: 0 2px 7px #A5D2E7;
          box-shadow: 0 2px 7px #A5D2E7;
}
.header .page_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .check::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: 10px;
  border: solid rgba(0, 0, 0, 0.5);
  border-width: 0 2px 2px 0;
  padding: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 5;
}
.header .check:hover::before {
  top: calc(50% - 2px);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .logo:hover {
  -webkit-filter: drop-shadow(2px 3px 3px rgba(35, 117, 156, 0.2));
          filter: drop-shadow(2px 3px 3px rgba(35, 117, 156, 0.2));
}
.header .logo .icon-logo {
  color: #000000;
  font-size: 51px;
}
.header .logo_title {
  margin-left: 10px;
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #000;
  text-align: left;
}
.header .logo_title_1280 {
  display: none;
}
.header .langMenu {
  position: relative;
  margin-left: 15px;
  padding: 10px 0px;
  cursor: pointer;
}
.header .langMenu:hover .langMenu_list {
  display: block;
}
.header .langMenu_picture {
  position: relative;
  padding: 10px 4px 10px 16px;
  width: 70px;
  height: 40px;
  background: #EEF7F9;
  border-radius: 8px;
}
.header .langMenu_img {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.header .langMenu_img.active {
  display: block;
}
.header .langMenu_list {
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  padding: 7px 0px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(26, 38, 56, 0.25), 0px 4px 16px rgba(27, 47, 58, 0.25);
          box-shadow: 0px 1px 4px rgba(26, 38, 56, 0.25), 0px 4px 16px rgba(27, 47, 58, 0.25);
  border-radius: 8px;
  z-index: 5;
}
.header .langMenu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 19px;
  cursor: pointer;
}
.header .langMenu_item:hover {
  background: #EEF7F9;
}
.header .langMenu_item:hover .langMenu_descr {
  color: #23759C;
}
.header .langMenu_icon {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.header .langMenu_descr {
  margin-left: 7px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.header .menu {
  margin-left: 20px;
  position: relative;
}
.header .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu_item {
  position: relative;
  font-weight: normal;
  padding: 12px 0px;
  cursor: pointer;
}
.header .menu_item_title {
  font-size: 14px;
  line-height: 24px;
  padding: 7px 25px 7px 12px;
  text-transform: uppercase;
  color: #000;
  border-radius: 8px;
}
.header .menu_item:hover .menu_item_title {
  color: #23759C;
  background-color: #EEF7F9;
}
.header .menu_item:hover .menu_item_list {
  display: block;
}
.header .menu_item_end .menu_item_title {
  padding-right: 12px;
  margin-right: 13px;
}
.header .menu_item_list {
  display: none;
  position: absolute;
  top: 54px;
  left: -5px;
  padding: 12px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(26, 38, 56, 0.25), 0px 4px 16px rgba(27, 47, 58, 0.25);
          box-shadow: 0px 1px 4px rgba(26, 38, 56, 0.25), 0px 4px 16px rgba(27, 47, 58, 0.25);
  border-radius: 8px;
  z-index: 5;
}
.header .menu_item_point {
  white-space: nowrap;
}
.header .menu_item_point a {
  display: block;
  padding: 5px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-align: left;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header .menu_item_point a:hover {
  color: #23759C;
  background-color: #EEF7F9;
}
.header .menu_item_more {
  display: none;
}
.header .menu_item_more:hover #more {
  display: block;
}
.header .menu #more {
  min-width: 240px;
  display: none;
}
.header .menu_more_title {
  display: block;
  text-transform: uppercase;
  color: #000;
  position: relative;
  padding: 7px 25px 7px 20px;
  text-align: left;
  white-space: nowrap;
}
.header .menu_more_title.check::before {
  right: 20px;
}
.header .menu_more_title:hover {
  color: #23759C;
  background-color: #EEF7F9;
}
.header .menu_more_title:hover::before {
  top: calc(50% - 4px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .menu_more_list {
  display: none;
  padding: 0px;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #fff;
}
.header .menu_more .menu_item_point a {
  padding: 5px 25px 5px 20px;
}
.header .menu_more.active .menu_more_title {
  color: #23759C;
  background-color: #EEF7F9;
}
.header .menu_more.active .menu_more_title::before {
  top: calc(50% - 1px);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.header .menu_more.active .menu_more_list {
  display: block;
}
.header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
.header .socials_link {
  margin-right: 10px;
  color: #fff;
}
.header .socials_link:hover {
  -webkit-animation: heartbeaticon 1.5s ease infinite;
          animation: heartbeaticon 1.5s ease infinite;
}
.header .socials .icon-whatsapp {
  font-size: 22px;
  color: #4CAF50;
}
.header .socials .icon-viber {
  font-size: 23px;
  color: #8E24AA;
}
.header .socials .icon-telegram {
  font-size: 22px;
  color: #039BE5;
}
.header .socials_phone {
  padding: 7px 7px;
  color: #000;
  font-size: 18px;
  line-height: 20px;
}
.header .socials_phone:hover {
  color: #23759C;
  background-color: #EEF7F9;
  border-radius: 8px;
}
.header .userbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .basket {
  position: relative;
  display: block;
  margin-left: 15px;
  margin-right: 10px;
  border: 1px solid #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header .basket:hover .icon-basket {
  color: #3193C1;
}
.header .basket .icon-basket {
  font-size: 31px;
}
.header .basket_value {
  position: absolute;
  top: -2px;
  left: 14px;
  display: block;
  margin: 0 auto;
  padding: 3px 5px;
  border-radius: 32px;
  background-color: #D93A60;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  color: #FFFFFF;
  /* animation: jump 1s ease infinite; */
}
.header .login {
  display: block;
  margin-left: 10px;
  border: 1px solid #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header .login:hover .icon-login {
  color: #3193C1;
}
.header .login .icon-login {
  font-size: 22px;
  font-weight: 600;
}

.carousel {
  max-height: 600px;
  background-color: #455A64;
}
.carousel .page_wrap {
  max-width: 1920px;
}
.carousel_inner {
  position: relative;
  margin: 0 auto;
}
.carousel .icon-next,
.carousel .icon-prev {
  position: absolute;
  font-size: 33px;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.carousel .icon-next:hover,
.carousel .icon-prev:hover {
  color: #b5bdc1;
}
.carousel .icon-next {
  right: 43px;
}
.carousel .icon-prev {
  left: 32px;
}
.carousel .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.carousel .slick-dots button {
  background: #fff;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin-right: 16px;
  outline: none;
  font-size: 0px;
  color: #fff;
}
.carousel .slick-dots li[class=slick-active] button {
  opacity: 1;
}
.carousel_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}
.carousel_col {
  width: 45.375%;
}
.carousel_descr {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 650px;
  z-index: 1;
}
.carousel_title {
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  text-align: left;
}
.carousel_text {
  margin-top: 30px;
  font-size: 21px;
  line-height: 160%;
  color: #fff;
  text-align: left;
}
.carousel_img {
  position: relative;
  max-height: 600px;
  width: 54.625%;
}
.carousel_img p {
  position: relative;
  width: 100%;
  padding-bottom: 68.6498855835%;
}
.carousel_img img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel_img::after {
  content: "";
  position: absolute;
  width: 275px;
  height: 100%;
  top: 0px;
  left: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#455A64), color-stop(12.5%, rgba(69, 90, 100, 0.9)), to(rgba(69, 90, 100, 0)));
  background: linear-gradient(90deg, #455A64 0%, rgba(69, 90, 100, 0.9) 12.5%, rgba(69, 90, 100, 0) 100%);
}
.carousel_img::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 192px;
  height: 100%;
  top: 0px;
  right: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#455A64), color-stop(14.58%, rgba(69, 90, 100, 0.88)), to(rgba(69, 90, 100, 0)));
  background: linear-gradient(90deg, #455A64 0%, rgba(69, 90, 100, 0.88) 14.58%, rgba(69, 90, 100, 0) 100%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.searchForms {
  background-color: #E3F1F4;
}
.searchForms .page_wrap {
  padding: 38px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.searchForms_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 32px;
}
.searchForms_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 24px;
}
.searchForms_input input {
  padding-right: 10px;
  padding: 4px 4px 4px 24px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #fff;
  text-align: left;
  color: #607D8B;
}
.searchForms_input input:focus-within {
  border: 1px solid #3CA9DD;
}
.searchForms_input #expert {
  width: 180px;
}
.searchForms_input #slab {
  width: 180px;
}
.searchForms_input #grade {
  width: 120px;
  border-left: 1px solid #ECEFF1;
  padding-left: 16px;
}
.searchForms_btn {
  margin-left: 16px;
}

.main-publications {
  padding: 30px 10px 55px 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-publications a:hover .title {
  color: #3193C1;
}
.main-publications_item {
  display: block;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin-top: 7px;
  width: calc((100% - 132px) / 3);
  margin: 25px 22px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-publications_item:hover .title {
  color: #3193C1;
}
.main-publications_item:hover img {
  -webkit-animation: heartbeat 1.5s ease infinite;
          animation: heartbeat 1.5s ease infinite;
}
.main-publications_item:hover .main-publications_descr {
  color: #3193C1;
}
.main-publications_item .title {
  margin-top: 30px;
}
.main-publications_img {
  width: 100%;
  border-radius: 8px;
}
.main-publications_img p {
  position: relative;
  width: 100%;
  padding-bottom: 59.1666666667%;
}
.main-publications_img img {
  display: block;
  border-radius: 8px;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-publications_descr {
  text-align: justify;
  margin-top: 18px;
  color: #546E7A;
}

.publications {
  min-height: 200px;
  padding-top: 10px;
}
.publications .page_wrap {
  padding: 0px 10px;
}
.publications_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 15px;
}
.publications_img {
  margin: 0 auto;
  width: 16.1290322581%;
  border-radius: 8px;
}
.publications_img p {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.publications_img img {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.publications_descr {
  padding: 0px 10px 0px 30px;
  width: 83.8709677419%;
}
.publications_descr h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.publications .title_descr {
  text-align: left;
}
.publications .title_descr:hover {
  color: #3193C1;
}
.publications_date {
  margin-bottom: 15px;
  line-height: 24px;
  text-align: left;
}
.publications_text {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 160%;
  color: #263238;
  text-align: left;
}
.publications_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: #23759C;
}
.publications_link:hover {
  color: #3193C1;
}
.publications_link:hover .arrow {
  -webkit-animation: services_arrow 1s linear infinite;
          animation: services_arrow 1s linear infinite;
}
.publications_link:hover .arrow div {
  background-color: #3193C1;
}
.publications_link:hover .arrow div::after {
  background-color: #3193C1;
}
.publications_link:hover .arrow div::before {
  background-color: #3193C1;
}

.article {
  margin-top: 30px;
  margin-bottom: 16px;
}
.article .page_wrap {
  width: 1450px;
}
.article .title_big {
  margin-top: 20px;
}

article {
  padding: 20px;
}
article h2 {
  margin: 20px 0px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #000;
}
article p {
  margin: 10px 0px;
  line-height: 160%;
  text-align: left;
  color: #000;
}
article img {
  margin: 0 auto;
}
article a {
  display: block;
  text-align: left;
  color: #23759C;
  line-height: 160%;
}
article a:hover {
  text-decoration: underline;
}
article li {
  padding-left: 10px;
  margin: 5px 0px;
  text-align: left;
  line-height: 160%;
  color: #000;
}
article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}
article em {
  color: #000;
}

.main-news {
  padding: 30px 10px 55px 10px;
  background-color: #E3F1F4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 12px 5px 12px;
  width: calc((100% - 96px) / 4);
  background-color: #fff;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.main-news_item .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 25px 25px 0px 25px;
  text-align: left;
}
.main-news_item:hover {
  -webkit-box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.15);
}
.main-news_item:hover .title {
  color: #3193C1;
}
.main-news_img {
  width: 100%;
}
.main-news_img p {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}
.main-news_img img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-news_date {
  font-size: 14px;
  padding: 15px 25px;
  text-align: left;
}
.main-news a:hover .title {
  color: #3193C1;
}

.services .page_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 8px;
}
.services_item {
  padding: 33px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33.3333333333%;
  border-right: 1px solid #CFD8DC;
}
.services_item:last-child {
  border-right: none;
}
.services_item .title_sections {
  /* display: block; */
  margin-bottom: 15px;
  color: #000;
}
.services_item .title_sections:hover {
  color: #3193C1;
}
.services_list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* display: flex;
  flex-direction: column; */
}
.services_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #23759C;
}
.services_link:hover {
  color: #3193C1;
}
.services_link:hover .arrow {
  -webkit-animation: services_arrow 1s linear infinite;
          animation: services_arrow 1s linear infinite;
}
.services_link:hover .arrow div {
  background-color: #3193C1;
}
.services_link:hover .arrow div::after {
  background-color: #3193C1;
}
.services_link:hover .arrow div::before {
  background-color: #3193C1;
}
.services_img {
  padding-top: 25px;
  padding-bottom: 10px;
  width: 100%;
}
.services_img p {
  position: relative;
  width: 100%;
  padding-bottom: 38.446969697%;
}
.services_img img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.events {
  padding: 30px 10px 50px 10px;
  background-color: #E3F1F4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.events_item {
  margin: 25px 12px 0px 12px;
  width: calc((100% - 72px) / 3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.events_item:hover .title {
  color: #3193C1;
}
.events_item:hover img {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  /* transform: scale(1.02); */
}
.events_item:hover .events_play {
  display: block;
}
.events_item:hover .events_descr {
  color: #3193C1;
}
.events_item:hover .events_date {
  color: #3193C1;
}
.events_item .title {
  padding: 20px 20px 10px 20px;
  text-align: left;
}
.events_img {
  position: relative;
  width: 100%;
}
.events_img p {
  position: relative;
  width: 100%;
  padding-bottom: 56.4453125%;
}
.events_img p img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.events_play {
  display: none;
  position: absolute;
  top: 39%;
  left: 44%;
  z-index: 1;
  width: 12.5%;
}
.events_descr {
  padding: 20px;
  text-align: left;
}
.events_date {
  padding: 0px 20px;
  text-align: left;
}
.events_btn {
  margin: 0 auto;
  margin-top: 10px;
}
.events_lecture {
  margin: 25px 12px 0px 12px;
  width: calc((100% - 72px) / 3);
}
.events_lecture .events_item {
  margin: 0px;
}
.events a:hover .title {
  color: #3193C1;
}

.museum {
  padding: 30px 10px 38px 10px;
  border-bottom: 1px solid #CFD8DC;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.museum_item {
  margin-top: 10px;
  padding: 16px;
  width: 25%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid #fff;
  border-radius: 8px;
}
.museum_item:hover {
  /* animation: heartbeat 1.5s ease infinite; */
  border: 1px solid #e3f1f4;
  border-radius: 8px;
  /*  img {
       animation: heartbeat 1.5s ease infinite;

   } */
}
.museum_item:hover .title {
  color: #3193C1;
}
.museum_item .title {
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.museum_img {
  width: 100%;
}
.museum_img p {
  position: relative;
  width: 100%;
  padding-bottom: 50.1369863014%;
}
.museum_img img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.museum .danger {
  padding: 5px 20px 10px 20px;
}
.museum .danger_descr {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}
.museum .danger_scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.museum .danger_circle {
  position: relative;
  margin: 0px 3px;
  width: 22px;
  height: 22px;
  background-color: #ECEFF1;
  border-radius: 100%;
}
.museum .danger_circle.yellow {
  background-color: #F4BB0A;
}
.museum .danger_circle.red {
  background-color: #E03737;
}
.museum .danger_circle.green {
  background-color: #A7D24B;
}
.museum .danger_circle.orange {
  background-color: #F97D37;
}
.museum .danger_circle.symbol::before {
  content: "\e900";
  font-family: "icomoon", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.museum a:hover .title {
  color: #3193C1;
}

.banner {
  min-height: 225px;
  padding: 50px 30px;
  /* background-color: $bg-light-color; */
}
.banner_img {
  margin: 0 auto;
  max-width: 706px;
  border-radius: 8px;
}
.banner_img a {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 21.8253968254%;
}
.banner_img img {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  min-height: 570px;
  background-color: #455A64;
}
.footer .page_wrap {
  padding: 55px 15px;
  display: grid;
  grid-template-columns: minmax(330px, 400px) minmax(270px, 390px) minmax(270px, 390px) minmax(300px, 350px);
  grid-template-rows: auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  grid-template-areas: "about col_left col_right contacts";
}
.footer_about {
  grid-area: about;
}
.footer_about .footer_decsr {
  margin-top: 35px;
}
.footer_about .footer_text {
  margin-top: 20px;
}
.footer_col_left {
  grid-area: col_left;
  padding-left: 10px;
}
.footer_col_right {
  grid-area: col_right;
  padding-left: 10px;
}
.footer_contacts {
  grid-area: contacts;
  padding-left: 25px;
}
.footer_contacts .footer_decsr {
  margin-top: 10px;
}
.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .logo:hover .logo_img {
  background-color: #A5D2E7;
}
.footer .logo:hover .logo_title {
  color: #A5D2E7;
}
.footer .logo_img {
  background-color: #fff;
  margin-right: 15px;
}
.footer .logo .icon-logofoot {
  color: #455A64;
  font-size: 90px;
}
.footer .logo_title {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  text-align: left;
}
.footer .title {
  color: #fff;
  text-align: left;
}
.footer_text {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}
.footer_decsr {
  color: #B0BEC5;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}
.footer_list {
  margin-bottom: 25px;
}
.footer_list ul {
  margin-top: 10px;
}
.footer_list ul li {
  margin-bottom: 5px;
  text-align: left;
}
.footer_list ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}
.footer_list ul li a:hover {
  color: #A5D2E7;
}
.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 17px 5px 15px 3px;
  text-align: left;
}
.footer .socials_link {
  margin-right: 10px;
  color: #fff;
}
.footer .socials_link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.footer .socials_link:hover span {
  color: #A5D2E7;
}
.footer .socials span {
  color: #fff;
}
.footer .socials .icon-whatsapp {
  font-size: 22px;
}
.footer .socials .icon-viber {
  font-size: 23px;
}
.footer .socials .icon-telegram {
  font-size: 22px;
}
.footer .socials_phone {
  color: #fff;
}
.footer .socials_phone:hover {
  color: #A5D2E7;
}
.footer_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.footer_email .icon-email {
  margin-right: 5px;
  color: #fff;
}
.footer_email_link {
  display: block;
  margin-left: 5px;
  color: #fff;
}
.footer_email_link:hover {
  color: #A5D2E7;
}

@media (max-width: 1720px) {
  .carousel_descr {
    left: 80px;
  }
}
@media (max-width: 1599px) {
  .page_wrap {
    max-width: 1280px;
  }
  .header nav {
    padding: 5px 16px;
  }
  .header .logo_title {
    display: none;
  }
  .header .logo_title_1280 {
    display: block;
  }
  .header .langMenu {
    margin-left: 20px;
  }
  .header .menu {
    margin-left: 60px;
  }
  .header .menu_item:nth-child(n+5) {
    display: none;
  }
  .header .menu_item:last-child {
    display: block;
  }
  .header .socials {
    margin-left: 75px;
  }
  .header .socials_phone {
    padding: 0px;
  }
  .carousel_descr {
    max-width: 580px;
  }
}/*# sourceMappingURL=style.css.map */