@import 'libs/reset';
@import 'base/variables';
@import 'base/animation';
@import 'base/mixins';

@import 'blocks/page';
@import 'blocks/header.scss';
@import 'blocks/carousel.scss';
@import 'blocks/categories';
@import 'blocks/categories_1';
@import 'blocks/bestsellers';
@import 'blocks/footer';

@import 'blocks/media.scss';