@import 'libs/reset';
@import 'base/variables';
@import 'base/animation';
@import 'base/mixins';

@import 'blocks/page';
@import 'blocks/header.scss';
@import 'blocks/carousel.scss';
@import 'blocks/searchForms.scss';
@import 'blocks/publications.scss';
@import 'blocks/news.scss';
@import 'blocks/result.scss';
@import 'blocks/services.scss';
@import 'blocks/events.scss';
@import 'blocks/museum.scss';
@import 'blocks/banner.scss';
@import 'blocks/footer.scss';
@import 'blocks/module.scss';
@import 'blocks/experts.scss';
@import 'blocks/articles.scss';
@import 'blocks/product.scss';
@import 'blocks/order.scss';
@import 'blocks/checkout.scss';
@import 'blocks/dealers.scss';
@import 'blocks/statistic.scss';
@import 'blocks/varieties.scss';
@import 'blocks/media.scss';