@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lsedru');
  src:  url('fonts/icomoon.eot?lsedru#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lsedru') format('truetype'),
    url('fonts/icomoon.woff?lsedru') format('woff'),
    url('fonts/icomoon.svg?lsedru#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text2:before {
  content: "\e926";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-cart:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}
.icon-profile:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
