@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gal2au');
  src:  url('fonts/icomoon.eot?gal2au#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gal2au') format('truetype'),
    url('fonts/icomoon.woff?gal2au') format('woff'),
    url('fonts/icomoon.svg?gal2au#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
}
.icon-cultural:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-login:before {
  content: "\e906";
}
.icon-logo:before {
  content: "\e907";
}
.icon-logofoot:before {
  content: "\e908";
}
.icon-next:before {
  content: "\e909";
}
.icon-numismatic:before {
  content: "\e90a";
}
.icon-phaleristic:before {
  content: "\e90b";
}
.icon-prev:before {
  content: "\e90c";
}
.icon-symbol:before {
  content: "\e90d";
}
.icon-telegram:before {
  content: "\e90e";
}
.icon-viber:before {
  content: "\e90f";
}
.icon-whatsapp:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-sphere:before {
  content: "\e9c9";
}
