@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
        url('NotoSans-Regular.woff2') format('woff2'),
        url('NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans SemiBold'), local('NotoSans-SemiBold'),
        url('NotoSans-SemiBold.woff2') format('woff2'),
        url('NotoSans-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: local('Philosopher Regular'), local('Philosopher-Regular'),
        url('Philosopher-Regular.woff2') format('woff2'),
        url('Philosopher-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: local('Philosopher Bold'), local('Philosopher-Bold'),
        url('Philosopher-Bold.woff2') format('woff2'),
        url('Philosopher-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AGKornelia';
    src: local('AGKornelia'), local('AGKornelia'),
        url('AGKornelia.woff2') format('woff2'),
        url('AGKornelia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AGKornelia';
    src: local('AGKornelia Bold'), local('AGKornelia-Bold'),
        url('AGKornelia-Bold.woff2') format('woff2'),
        url('AGKornelia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alice';
    src: local('Alice Regular'), local('Alice-Regular'),
        url('Alice-Regular.woff2') format('woff2'),
        url('Alice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans';
    src: local('JosefinSans'), local('JosefinSans'),
        url('JosefinSans.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RubikMonoOne';
    src: local('RubikMonoOne Regular'), local('RubikMonoOne-Regular'),
        url('RubikMonoOne-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: local('Unbounded Regular'), local('Unbounded-Regular'),
        url('Unbounded-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}