.articles {
    min-height: 200px;
    &.articles_public {
        .articles_img {
            p {
                padding-bottom: calc(722.5 / 1280) * 100%;
            }
        }
    }
    &.articles_news {
        .articles_img {
            p {
                padding-bottom: 50%;
            }
        }
    }
    .page_wrap {
        padding: 0px 5px;
        
    }
    &_item {
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-template-rows: repeat(2, minmax(30px, auto));
        column-gap: 30px;
        padding: 30px 15px;
    }
    &_img {
        width: 100%;
        border-radius: 8px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        p {
            position: relative;
            width: 100%;
        }
        img {
            display: block;
            border-radius: 8px;
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    &_video_img {
        img {
            object-fit: cover;
        }
    }
    h2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        margin-bottom: 15px;
    }
    &_descr {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title_descr {
        text-align: left;
        &:hover {
            color: $link-title-color;
        }
    }
    &_date {
        line-height: 24px;
        text-align: left; 
    }
    &_text {
        p {
            margin-bottom: 8px;
            line-height: 160%;
            color: $descr_color;
            text-align: left; 
        }
    }
    .wrapper {
        justify-content: space-between;
        align-items: center;
    }
    &_link {
        display: inline-flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        text-align: left;
        font-size: 18px;
        line-height: 24px;
        color: $main-color;
        &:hover {
            color: $link-title-color;
            .arrow {
                animation: services_arrow 1s linear infinite;
                div {
                    background-color: $link-title-color;
                    &::after {
                        background-color: $link-title-color;
                    }
                    &::before {
                        background-color: $link-title-color;
                    }
                }
            }
        }
    }
}
.article {
    .page_wrap {
        width: 1450px;
        padding: 0px;
    }
    article {
        padding: 30px 20px;
        h2 {
            margin: 20px 0px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            color: #000;
        }
        h3 {
            font-weight: 600;
            color: #000;
            text-align: center;
            margin: 30px 0px 10px; 
        }
        p {
            margin: 10px 0px;
            line-height: 160%;
            text-align: left;
            color: #000;
        }
        img {
            margin: 0 auto;
            max-width: 100%;
        }
        a{
            display: inline-block;
            text-align: left;
            color: $main-color;
            line-height: 160%;
            &:hover {
                text-decoration: underline;
            }
        }
        li {
            padding-left: 10px;
            margin: 5px 0px;
            text-align: left;
            line-height: 160%;
            color: #000;
        }
        ul {
            list-style-type: disc;
        }
        ol {
            list-style-type: decimal;
        }
        em {
            color: #000;
        }
        strong {
            color: #000;
            font-weight: 600;
        }

    }
}
