.banner {
    min-height: 225px;
    padding: 50px 30px;
    /* background-color: $bg-light-color; */
    
    
    &_img {
        margin: 0 auto;
        max-width: 706px;
        border-radius: 8px;
        a {
            display: block;
            position: relative;
            width: 100%;
            padding-bottom: calc(55 / 252) * 100%;
        }
        img {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }
}