.carousel {
    max-height: 600px;
    background-color: $main-color;
    &.media {
        
        margin-top: 50px;
    }
    .page_wrap {
        max-width: 1920px;
        
    }
    &_inner {
        position: relative;
        margin: 0 auto;
    }
    
    
    &_wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content:space-between;
        max-width: 1600px;
        margin: 0 auto;
    }
    &_descr {
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 650px;
        z-index: 1;
    }
    &_title {
        font-size: 30px;
        line-height: 54px;
        font-weight: 600;
        color: #000;
        text-align: left;
    }
    &_text {
        margin-top: 30px;
        font-size: 18px;
        line-height: 160%;
        color: #000;
        text-align: left;
        p {
            text-align: left;
            font-size: 14px;;
            line-height: 160%;
            font-weight: 500;
            margin-bottom: 10px;
            span {
                margin-right: 5px;
                color: $item-color;
            }
        }
    }
    &_btn {
        margin-top: 30px;
        position: relative;
        padding: 9px 15px 6px;
        background-color: $item-color;
        border-radius: 6px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        transition: all 1s ease;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: rgba(238,224,208,0.2);
            border-radius: 6px;
            transition: all 1s ease;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    &_img {
        img {
            height: 600px;
        }
    }
}