.carousel {
    max-height: 600px;
    background-color: $main-color;
    &.media {
        
        margin-top: 50px;
    }
    .page_wrap {
        max-width: 1920px;
        
    }
    &_inner {
        position: relative;
        margin: 0 auto;
    }
    
    
    &_wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content:space-between;
        max-width: 1600px;
        margin: 0 auto;
    }
    &_descr {
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 650px;
        z-index: 1;
    }
    &_title {
        font-size: 40px;
        line-height: 54px;
        color: #000;
        text-align: left;
    }
    &_text {
        margin-top: 30px;
        font-size: 18px;
        line-height: 160%;
        color: #000;
        text-align: left;
    }
    &_btn {
        margin-top: 30px;
        padding: 15px 25px;
        border: 1px $item-color solid;
        font-weight: 600;
        border-radius: 4px;
        color: $item-color;
    }
    &_img {
        img {
            height: 600px;
        }
    }
}