.checkout {
    .page_wrap {
        padding: 30px 15px;
        max-width: 1430px;
    }
    &_form {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &_input {
        width: 100%;
        border: 1px solid #CEE4E9;
        border-radius: 8px;
        padding: 30px;
    }
    &_title {
        color: #000;
        font-size: 20px;
        line-height: 125%;
        font-weight: 600;
        text-align: left;
        margin-bottom: 25px;
    }
    &_item {
        padding: 12px 0px;
        &.one {
            input {
                width: 100%;
            }
        }
        &.two {
            width: calc((100% - 25px) / 2);
            input {
              width: 100%;  
            } 
        }
        &.three {
            p {
                display: flex;
                    input {
                    width: calc(100% / 3);
                    margin: 0px;
                    &:nth-child(1) {
                        border-radius: 8px 0px 0px 8px;
                        border-right: none;
                    }
                    &:nth-child(2) {
                        border-radius: 0px;
                    }
                    &:nth-child(3) {
                        border-radius: 0px 8px 8px 0px;
                        border-left: none;
                    }
                }
            }
        }
        .form_caption {
            display: block;
            font-size: 18px;
            line-height: 24px;
            color: #000;
            text-align: left;
            margin-bottom: 10px;
        }
        input {
            padding: 8px 16px;
            border: 1px solid #CEE4E9;
            border-radius: 8px;
            color: #607D8B;
            font-size: 18px;
            line-height: 24px;
            text-align: left;
        }
    }
    &_wrap {
        display: flex;
        justify-content: space-between;
    }

    &_left {
        width: calc(100% - 430px);
    }
    &_right {
        width: 400px;
        padding: 30px;
        background-color: #EEF7F9;
        border-radius: 8px;
        .btn {
            cursor: pointer;
        }
    }
    &_row {
        border-bottom: 1px solid $link-light-color;
        padding: 25px 0px;
        &:first-child {
            padding: 0px;
        }
        .checkbox_body {
            color: #000;
            text-align: left;
            font-size: 16px;
        }
        .module_img {
            width: 230px;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            margin-left: auto;
            img {
                height: 20px;
            }
        }
        a {
            color: $main-color;
            &:hover {
                color: $link-title-color;
            }
        }
        .black {
            color: #000;
            font-weight: 600;
        }
        .text {
            font-size: 20px;
            line-height: 125%;
            text-align: left;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        .tinkoff {
            margin-left: auto;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .sum {
           font-size: 24px;
           line-height: 160%;
           margin-right: 15px;
        }
        &.img {
            display: grid;
            grid-template-columns: 150px 170px;
            grid-template-rows: repeat(2, minmax(30px, auto));
            column-gap: 20px;
            row-gap: 10px;
            align-items: center;
        }
        &.total {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    .btn {
        margin-top: 25px;
        width: 100%;
    }
    .order {
        padding-top: 40px;
        &_wrap {
            width: 100%;
        }
        &_row {
            &:first-child {
                padding-top: 0px;
            }
        }
    }
}