.dealers {
    margin: 30px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_block {
        display: flex;
        margin: 30px 0px;
        padding: 20px;
        border: 1px solid #CFD8DC;
        border-radius: 8px;
        width: calc(50% - 20px);
    }
    &_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        flex-shrink: 0;
        img {
            width: 80px;
        }
    }
    &_content {
        margin-left: 20px;
    }
    &_descr {
        display: flex;
        margin-bottom: 15px;
        span {
            margin-right: 5px;
        }
        a {
            &:hover {
                color: $link-title-color;
            }
        }
        p {
            text-align: left;
        }
    }
    &_title {
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-align: left;
        color: $main-color;

    }
    &_text {
        font-size: 14px;
    }
    &_wrap {
        display: flex;
    }
}