.footer {
    background-color: #3c474e;
    padding: 40px 0px;
    &_wrap {
        margin: 0 auto;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
    }
    &_logo {
        display: flex;
        align-items:center;
        p {
            font-size: 34px;
            font-weight: 900;
            text-transform: uppercase;
            margin-left: 10px;
            color: #fff;
        }
        .icon-logo {
            font-size: 28px;
            color: #fff;
        }
    }
    &_descr {
        color: #fff;
    }
    
    h3 {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }
    &_menu {
        li {
            margin: 10px;
            font-weight: 500;
            color: #fff; 
            text-align: left;
        }
    }
    &_contact {
        display: flex;
        margin: 10px;
        p, span {
            color: #fff;
        }
        p {
            margin-left: 10px;
        }
    }
}