.header {
    &_wrap {
        margin: 0 auto;
        max-width: 1600px;
    }
    &_str {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 20px 0px;
        &_first {
            background-color: $main-color;
            padding: 10px 0px;
            .header_wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &_logo {
        display: flex;
        align-items:center;
        h1 {
            font-size: 34px;
            font-weight: 900;
            text-transform: uppercase;
            margin-left: 10px;
            color: #3c474e;
        }
        .icon-logo {
            font-size: 28px;
            color: $item-color;
        }
    }
    &_descr {
        font-weight: 500;
    }
    &_btn {
        position: relative;
        padding: 9px 11px 6px;
        background-color: $item-color;
        border-radius: 6px;
        font-weight: 600;
        color: #fff;
        transition: all 0.6s ease;
        overflow: hidden;
        .icon-file-text2 {
            font-size: 14px;
            font-weight: 300;
        }
       /*  &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: rgba(255,255,255,0.3);
            border-radius: 6px;
            transition: all 2s ease;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        } */
        /* &:hover {
            background: rgba(0,0,0,0);
            color: $item-color;
            box-shadow: inset 0 0 0 3px $item-color;
        } */
 
	&:hover {
		transform: scale(1.03);
		box-shadow: 0 5px 15px rgba(88, 110, 125, 0.2);

	}
    }
    &_search {
        position: relative;
        input {
            border: 1px #b3b3b3 solid;
            border-radius: 4px;
            padding: 10px 40px 10px 20px;
            text-align: left;
            width: 500px;
            color: #b3b3b3;
            font-size: 12px;
        }
        .icon-search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            color: #b3b3b3;
        }
    }
    &_menu {
        display: flex;
        align-items:center;
        li {
            position: relative;
            margin-right: 30px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 14px;
            color: black;
            font-weight: 600;
            transition: all 0.6s;
            &:hover {
                color: $item-color;
                cursor: pointer;
            }
        }
    }
    &_social {
        display: flex;
        align-items: center;
        p {
            margin: 0px 25px 0px 5px;
            font-weight: 500;
        }
        .icon-telegram {
            color: #32a9df;
        }
        .icon-phone {
            color: #67c15e;
        }
    }
    &_icons {
        display: flex;
        align-items:center;
        span {
            margin-right: 30px;
            font-size: 20px;
            color: #999;
            transition: all 0.6s;
            &:hover {
                cursor: pointer;
                color: $item-color;
                transform: scale(1.1);
            }
        }
    }
}