.header {
    &_wrap {
        margin: 0 auto;
        max-width: 1600px;
    }
    &_str {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 20px 0px;
        &_first {
            background-color: $main-color;
            padding: 10px 0px;
            .header_wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &_logo {
        display: flex;
        align-items:center;
        h1 {
            font-size: 34px;
            font-weight: 900;
            text-transform: uppercase;
            margin-left: 10px;
            color: #3c474e;
        }
        .icon-logo {
            font-size: 28px;
            color: $item-color;
        }
    }
    &_descr {
        font-weight: 500;
    }
    &_btn {
        position: relative;
        padding: 9px 15px 6px;
        background-color: $item-color;
        border-radius: 6px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        transition: all 1s ease;
        .icon-file-text2 {
            font-size: 14px;
            font-weight: 300;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: rgba(238,224,208,0.2);
            border-radius: 6px;
            transition: all 1s ease;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    &_search {
        position: relative;
        input {
            border: 1px #b3b3b3 solid;
            border-radius: 4px;
            padding: 6px 40px 6px 15px;
            text-align: left;
            width: 250px;
            color: #b3b3b3;
            font-size: 12px;
        }
        .icon-search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            font-size: 14px;
            color: #b3b3b3;
        }
    }
    &_topmenu {
        display: flex;
        align-items:center;
        li {
            position: relative;
            margin-right: 30px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 14px;
            color: #6b7280;
            font-weight: 600;
            transition: all 0.6s;
            cursor: pointer;
            &:hover {
                color: $item-color;
                
            }
        }
    }
    &_social {
        display: flex;
        align-items: center;
        p {
            margin: 0px 25px 0px 5px;
            font-weight: 500;
        }
        .icon-telegram {
            color: #32a9df;
        }
        .icon-phone {
            color: #67c15e;
        }
    }
    &_categories {
        position: relative;
        display: flex;
        align-items:center;
    }
    &_category {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        cursor: pointer;
        img {
            width: 20px;
            transition: all 0.6s ease;
        }
        &_title {
            margin-left: 8px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 18px;
            color: black;
            font-weight: 600;
            transition: all 0.6s;
        }
        &:hover {
            img {

                transform: scale(1.1) rotate(10deg);
            }
            .header_category_title {
                color: $item-color; 
            }
            .header_subcategories {
                display: block;
            }
        }
    }
    &_subcategories {
        display: none;
        position: absolute;
        column-count: 2;
        top: 47px;
        left: -10%;
        width: 120%;
        padding: 20px;
        background: #fff;
        border-radius: 6px;
        border: 1px #eee solid;
        box-shadow: 4px 6px 8px -7px rgba(34, 60, 80, 0.2);
        z-index: 35;
    }
    &_subcategory {
        break-inside:avoid;
        text-align: left;
        padding: 5px;
        margin: 5px;

        &_title {
            font-size: 16px;
            color: black;
            font-weight: 600;
            transition: all 0.3s;
            &:hover {
                color: $item-color;
            }
        }
        &_item {
            li {
                margin: 10px;
                text-align: left;
                &:hover {
                    a {
                        background-color: #e5e5e5;
                        color: #233353;
                    }
                    
                }
                a {
                    border-radius: 6px;
                    padding: 5px 15px;
                    color: #6b7280;
                    font-weight: 600;
                    font-size: 14px;
                    transition: all 0.3s;
                }
            }
        }
    }
    &_icons {
        display: flex;
        align-items:center;

        p {
            margin-right: 30px;
            position: relative;
            height: 30px;
            width: 30px;
            cursor: pointer;
            span { 
                position: relative;
                font-size: 24px;
                color: #999;
                transition: all 0.6s;
                
            }
            &::before {
                content: '3';
                position: absolute;
                top: -20px;
                right: -10px;
                padding: 0px 8px;
                height: 20px;
                width: fit-content;
                background-color: $item-color;
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 10px;
                font-weight: 600;
                color:#fff;
                border-radius: 6px;
                z-index: 5;
            }
            .icon-heart {
                margin-top: 5px;
                font-size: 22px;
            }
            &:hover {
                span {
                   color: $item-color;
                }
                animation: heartbeaticon 1.5s ease infinite;
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
        }
    }
}