.header {
    &_wrap {
        margin: 0 auto;
        max-width: 1600px;
    }
    &_str {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 20px 0px;
        &_first {
            background-color: $main-color;
            padding: 10px 0px;
            .header_wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &_logo {
        display: flex;
        align-items:center;
        h1 {
            font-size: 34px;
            font-weight: 900;
            text-transform: uppercase;
            margin-left: 10px;
            color: #3c474e;
        }
        .icon-logo {
            font-size: 28px;
            color: $item-color;
        }
    }
    &_search {
        position: relative;
        input {
            border: 1px #b3b3b3 solid;
            border-radius: 4px;
            padding: 10px 40px 10px 20px;
            text-align: left;
            width: 500px;
            color: #b3b3b3;
            font-size: 12px;
        }
        .icon-search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            color: #b3b3b3;
        }
    }
    &_menu {
        display: flex;
        align-items:center;
        li {
            position: relative;
            margin-right: 30px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 14px;
            color: black;
            font-weight: 600;
        }
    }
    &_social {
        display: flex;
        align-items: center;
        p {
            margin: 0px 25px 0px 5px;
            font-weight: 500;
        }
        .icon-telegram {
            color: #32a9df;
        }
        .icon-phone {
            color: #67c15e;
        }
    }
    &_icons {
        display: flex;
        align-items:center;
        span {
            margin-right: 30px;
            font-size: 20px;
            color: #999;
        }
    }
}