.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0px 25px;
    height: 80px;
    &_logo {
        display: flex;
        align-items:center;
        height: 90px;
        margin-left: 40px;
        h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 34px;
            font-weight: 900;
            text-transform: uppercase;
            margin-left: 10px;
            color: #3c474e;
        }
        img {
            height: 30px;
        }
    }
    ul {
        display: flex;
        align-items:center;
        li {
            position: relative;
            margin-right: 30px;
            padding-right: 20px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 20px;
            color: black;
            font-weight: 600;

            span {
                position: absolute;
                font-size: 30px;
                display: block;
                top: 1px;
                right: 0;
            }
        }
    }
    &_icons {
        display: flex;
        align-items:center;
        img {
            margin-right: 20px;
        }
    }
}