.header {
    position: relative;
    z-index: 5;
    width: 100%;
    min-height: 72px;
    padding: 10px 0px;
    background-color: #fff;
    .navigation {
        max-width: 1600px;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        margin: 0 auto;
    }
    &.media {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        padding: 1px 0px;
        min-height: 50px;
        box-shadow: 0 2px 7px $link-light-color;
        .logo {
            .icon-logo {
                font-size: 42px;
            }
        }
    }
    .check {
        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 4px);
            right: 10px;
            border: solid rgba(0, 0, 0, 0.5);
            border-width: 0 2px 2px 0;
            padding: 2px;
            transform: rotate(45deg);
            z-index: 5;
        }
        &:hover {
            &::before {
                top: calc(50% - 2px);
                transform: rotate(-135deg);
            }
        }

    }
    .logo {
        display: flex;
        align-items: center;
        transition: all 0.6s;
        min-width: 280px;
        &:hover {
            .icon-logo {
                color: $main-color;
            }
            .logo_title {
                color: $main-color;
            }
        }
        &_img {
            line-height: 100%;
        }
        .icon-logo {
            color: #000000;
            font-size: 51px;
        }
        &_title {
            margin-left: 10px;
            font-family: 'Philosopher';
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            color: #000;
            text-align: left;
            &.mini {
                display: none;
            }
        }
    }
    .langMenu {
        position: relative;
        padding: 4px 0px;
        & > span {
            display: none;
        }
        &:hover {
            .langMenu_picture {
                background-color: #EEF7F9; 
            }
            .langMenu_list {
                display: block;
            }
        }
        cursor: pointer;        
        &_picture {
            position: relative;
            padding: 10px 4px 10px 16px;
            width: 70px;
            height: 40px;
            background-color: #fff;
            border-radius: 8px;
        }
        &_img {
            display: none;
            border: 1px solid rgba(0, 0, 0, 0.25);
            &.active {
                display: block;
            }
        }
        &_list {
            display: none;
            position: absolute;
            width: 130px;
            top: 48px;
            left: 0;
            padding: 7px 0px;
            background: #FFFFFF;
            box-shadow: 0px 1px 4px rgba(26, 38, 56, 0.25), 0px 4px 16px rgba(27, 47, 58, 0.25);
            border-radius: 8px;
            z-index: 5;
        }
        &_item {
            padding: 7px 19px;
            cursor: pointer;
            &:hover {
                background: #EEF7F9;
                .langMenu_descr {
                    color: #23759C;
                }
            }
        }
        &_link,
        &_item a {
            display: flex;
            align-items: center;
        }
        &_item {
            a {
                span {
                    padding-left: 5px;
                    padding-top: 2px;
                }
            }
        }
        &_icon {
            display: block;
            border: 1px solid rgba(0, 0, 0, 0.25);
        }
        &_descr {
            margin-left: 7px;
            font-size: 16px;
            line-height: 24px;
            color: #000;
        }
    }
    .menu {
        position: relative;
        &_list {
            display: flex;
            align-items: center;
            
        }
        &_item > a {
            display: block;
            font-size: 14px;
            line-height: 24px;
            padding: 7px 25px 7px 12px;
            text-transform: uppercase;
            color: #000;
            text-align: left;
            border-radius: 8px;
        }
        &_item {
            position: relative;
            font-weight: normal;
            padding: 4px 0px;
            cursor: pointer;
            &:hover {
                & > a {
                    color: $main-color;
                    background-color: #EEF7F9;
                }
                .menu_item_list {
                    display: block;
                }
            }
            &.no_list {
                & > a {
                    padding: 7px 12px;
                }
            }
            &.more {
                display: none;
            }
            
            &_list {
                display: none;
                position: absolute;
                top: 46px;
                left: -5px;
                padding: 12px 0px;
                background-color: #fff;
                box-shadow: 0px 1px 4px rgba(26, 38, 56, 0.25), 0px 4px 16px rgba(27, 47, 58, 0.25);
                border-radius: 8px;
                z-index: 5;
                min-width: 240px;
                .menu_item_point {
                    a {
                        &:hover {
                            color: $main-color;
                            background-color: #EEF7F9;
                        }
                    }
                }
            }
            &_point {
                white-space: nowrap;
                a {
                    display: block;
                    padding: 5px 16px;
                    font-size: 16px;
	                line-height: 22px;
                    color: #000;
                    text-align: left;
                    transition: all 0.4s;
                    text-transform: none;
                    border-radius: 0px;
                }
            }
        }
    }
    .menu_wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .socials {
        display: flex;
        align-items: center;
        text-align: left;
        &_link {
            margin-right: 10px;
            color: #fff;
            &:hover {
                animation: heartbeaticon 1.5s ease infinite;
            }
        }
        .icon-whatsapp {
            font-size: 22px;
            color: #4CAF50;
           
        }
        .icon-viber {
            font-size: 23px;
            color: #8E24AA;
        }
        .icon-telegram {
            font-size: 22px;
            color: #039BE5;
            
            
        }
        &_phone {
            padding: 7px 7px;
            color: #000;
            font-size: 18px;
            line-height: 20px;
            &:hover {
                color: $main-color;
                background-color: #EEF7F9;
                border-radius: 8px;
            }
        }
    }
    .userbtns {
        display: flex;
        align-items: center;
    }
    .basket {
        position: relative;
        display: block;
        margin-right: 10px;
        border: 1px solid #fff;
        transition: all 0.4s;
        &:hover {
            .icon-basket {
                color: $link-title-color;
            }
        }
        .icon-basket {
            font-size: 31px;
        }
        &_value {
            position: absolute;
            top: -2px;
            left: 14px;
            display: block;
            margin: 0 auto;
            padding: 3px 5px;
            border-radius: 32px;
            background-color: #D93A60;
            font-weight: normal;
            font-size: 15px;
            line-height: 14px;
            color: #FFFFFF;
            /* animation: jump 1s ease infinite; */
        }
    }
    .login {
        display: block;
        margin-left: 10px;
        border: 1px solid #fff;
        transition: all 0.4s;
        &:hover {
            .icon-login {
                color: $link-title-color;
            }
        }
        .icon-login {
            font-size: 22px;
            font-weight: 600;
        } 
    } 
    .hamburger {
        display: none;
    }
}