.news {
    padding: 5px 5px 30px;
    &_wrap {
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        max-width: 1600px;
    }
    &_item {
        width: calc((100% - 40px)/4);
        margin: 5px;
        display: flex;
        flex-direction: column;
    }
    &_img {
        width: 100%;
        background-color: $main-color;
        border-radius: 6px;
        margin-bottom: 15px;
        border: 1px #eee solid;
        box-shadow: 4px 6px 8px -7px rgba(34, 60, 80, 0.2);
        img {
            width: 100%;
        }
    }
    &_descr {
        padding: 10px 15px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
            font-size: 20px;
            font-weight: 600;
        }
        p {
            color: #777;
            font-size: 14px;
            font-weight: 600;
            margin-top: 10px;
            text-align: left;
        }
    }
}