.order {
    &_wrap {
        margin: 0 auto;
        width: 960px;
        padding: 30px 0px 50px;
    }
    &_title {
        width: 100%;
        padding: 12px 0px;
        border-radius: 8px;
        background-color: #EEF7F9;
        margin-bottom: 15px;
    }
    .black {
        color: #000;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
    }
    .dark {
        color: #000;
    }
    .multiply {
        color: #000;
        position: relative;
        height: 8px;
        width: 8px;
        &::before {
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            transform: translateY(0px) rotate(-45deg);
            height: 1px;
            width: 9px;
            background-color: #000;
        }
        &::after {
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            transform: translateY(0px) rotate(45deg);
            height: 1px;
            width: 9px;
            background-color: #000;
        }
    }
    &_row {
        padding: 16px;
        border-bottom: 1px solid #CEE4E9;
        text-align: left;
        &.two {
            display: flex;
            justify-content: space-between;
            .left {
                width: 220px;
                text-align: left;
            }
            .right {
                width: calc(100% - 250px);
                text-align: right;
                span {
                    color: #000;
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 600;
                }
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &_item {
        padding: 16px;
        display: grid;
        grid-template-columns: 1fr minmax(200px, auto) minmax(120px, auto);
        grid-template-rows: repeat(2, minmax(30px, auto));
        column-gap: 30px;
        row-gap: 10px;
        border-bottom: 1px solid #CEE4E9;
    }
    &_product {
        text-align: left;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    &_descr {
        display: flex;
        justify-content: start;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        .dot {
            margin: 0px 8px;
        }
    }
    &_calculat {
        display: flex;
        justify-content: space-between;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        span {
            color: #000;
            font-size: 20px;
            line-height: 24px;
            text-align: right;
        }
    }
    &_price {
        text-align: right;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}