* {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: normal;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
}

html, body {
    height: 100%;
}
.main_page {
    position: relative;
    /*overflow-x: hidden;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main_page_content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
footer.footer {
    flex: 0 0 auto;
}
.overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0,0,0,.25);
}
.page_wrap {
    max-width: 1600px;
    margin: 0 auto;
}
.btn {
    position: relative;
    padding: 9px 15px;
    background-color: $item-color;
    border-radius: 6px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 1s ease;
    &_outline {
        padding: 9px 5px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.6s;
        span {
            font-size: 30px;
            font-weight: 700;
            color: #CCC;
            transition: all 0.6s;
        }
        &:hover {
            span {
                color: $item-color;
            }
            animation: heartbeaticon 1.5s ease infinite;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: rgba(238,224,208,0.2);
        border-radius: 6px;
        transition: all 1s ease;
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }
}
.first {
    &_title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0px;
        z-index: 5;
        img {
            transition: all 0.6s ease;
            height: 38px;
        }
        h2 {
            transition: all 0.6s ease;
            margin-left: 15px;
            font-size: 30px;
            font-weight: 600;
            a {
                transition: all 0.6s ease;
                margin-left: 15px;
                font-size: 30px;
                font-weight: 600;
                color: #000;
            }
        }
        &:hover {
            cursor: pointer;
            h2 {
                color: $item-color;
                a {
                    color: $item-color;
                }
            }
            img {
                transform: scale(1.1) rotate(10deg);
            }
        }
    }
    &_text {
        margin: 0 auto;
        max-width: 1600px;
        font-size: 14px;
        margin-bottom: 25px;
        font-weight: 500;
    }
}
.category {
    padding: 2px 8px;
    width: fit-content;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #57534e;
    background-color: #e7e5e4;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        color: #ffffff;
        font-weight: 500;
        background-color: #ADACAC;

    }
    /* &.color_1 {
        
        background-color: $red-100; 
    }
    &.color_3 {
        
        background-color: $amber-100; 
    }
    &.color_6 {
       
        background-color: $fuchsia-100; 
    }
    &.color_7 {
        
        background-color: $sky-100; 
    }
    &.color_8 {
        
        background-color: $green-100; 
    }
    &.color_9 {
        
        background-color: $violet-100; 
    }
 */
    
}
.breadcrumbs {
    background-color: $main-color;
    padding: 15px 0px;
    &_wrap {
        margin: 0 auto;
        max-width: 1600px;
        padding: 0px 10px;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        li {
            a {
                color: #000;
                font-weight: 600;
                font-size: 14px;
                transition: all 0.6s;
                &:hover {
                    color: $item-color;
                }
            }
            span {
                margin: 0px 10px;
                color: #000;
                font-weight: 600;
                font-size: 14px;
            }
            &:last-child {
                span {
                    color: $item-color;
                }
            }
        }
    }
}

.arrow {
    cursor: pointer;
    position: relative;
    width: 15px;
    height: 4px;
    margin: 4px 0px 0px 5px;
    div {
        position: relative;
        width: 10px;
        height: 1px;
        background-color: #57534e;
        left: 0;
        display: block;
        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: 2px;
            top: -1px;
            right: -2px;
            background-color: #57534e;
            transform: rotate(45deg);
        }
        &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 2px;
            top: 0px;
            right: -2px;
            background-color: #57534e;
            transform: rotate(-45deg);
        }
    }
}
