* {
    font-family: 'AGKornelia';
    font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
    color: #455A64;
}

html, body {
    height: 100%;
}
.main_page {
    position: relative;
    /*overflow-x: hidden;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main_page_content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
footer.footer {
    flex: 0 0 auto;
}
.carousel, 
.footer,
button.btn,
a.btn {
    font {
        color: #ffffff;
    }
}
.header {
    .basket_value {
        font {
            font-size: 15px;
            line-height: 14px;
            color: #ffffff;
        }
    }
}
.overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0,0,0,.25);
}
.page_wrap {
    max-width: 1600px;
    margin: 0 auto;
}
.title {
    font-weight: 600;
    text-align: center;
    color: $main-color;
    &_big {
        font-size: 32px;
        line-height: 40px;
        color: #000;
    }
    &_sections {
        position: relative;
        display: inline-block;
        font-size: 28px;
        line-height: 40px;
        transition: opacity 0.15s linear;
        &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            height: 2px;
            margin: auto;
            width: 0%;
            background-color: $link-title-color;
            transition: width 300ms ease-out;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
    &_descr {
        font-size:24px;
	    line-height: 28px;
    }
    &_middle {
        font-size:20px;
	    line-height: 26px;
    }
    &_small {
        font-size: 18px;
	    line-height: 24px;
    }
}
.woocommerce .module_text.basket .actions button.button {
    position: relative;
    overflow: hidden;
    padding: 8px 27px;
    background: $btn-color;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-weight: 600;
    color: #fff;
}

.btn,
.woocommerce-notices-wrapper .woocommerce-error .button,
.woocommerce-notices-wrapper .woocommerce-info .button,
.woocommerce-notices-wrapper .woocommerce-message .button,
.module_form.basket .wc-proceed-to-checkout .checkout-button,
.module .woocommerce form.woocommerce-checkout #payment div.form-row button.button.alt {
    position: relative;
    overflow: hidden;
    padding: 8px 27px;
    background: $btn-color;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-weight: 600;
    color: #fff;
    &::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
	    transition: 0.5s ease-in-out;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $btn-color-hov;
        opacity: 0.3;
        transform: translateX(-100%);
        
    }
    &:hover {
        &::before {
            transform: translateX(0);
        }
    }
}
.woocommerce-notices-wrapper .woocommerce-error .button,
.woocommerce-notices-wrapper .woocommerce-info .button,
.woocommerce-notices-wrapper .woocommerce-message .button {
    &:hover {
        background: linear-gradient(90deg, #237BA3 0%, #208DBC 100%);
        color: #fff;
    }
}
.woocommerce {
	.module_text.basket {
		button.button {
			&:disabled {
				padding: 8px 27px;
				background: #ebe9eb;
				color: inherit;
			}
			&:disabled[disabled] {
				padding: 8px 27px;
				background: #ebe9eb;
				color: inherit;
			}
		}
	}
}
.wrapper {
    display: flex;
}
.aioseo-breadcrumbs {
    margin: 40px 0px 0px;
    .aioseo-breadcrumb-separator {
        display: none;
    }
    .aioseo-breadcrumb {
        & > a {
            margin-right: 20px;
            position: relative;
            text-transform: uppercase;
            color: $main-color;
            text-align: center;
            &:before {
                content: '';
                position: absolute;
                top: calc(50% - 4px);
                right: -13px;
                border: solid #607D8B;
                border-width: 0 1px 1px 0;
                padding: 2px;
                transform: rotate(-45deg);
                z-index: 5;
            }
            &:hover {
                color: $link-title-color;
            }
        }
    }
}
.line_big {
    color: #CFD8DC;
    width: 100%;
}
.arrow {
    cursor: pointer;
    position: relative;
    width: 15px;
    height: 4px;
    margin: 4px 0px 0px 5px;
    div {
        position: relative;
        width: 10px;
        height: 1px;
        background-color: $main-color;
        left: 0;
        display: block;
        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: 2px;
            top: -1px;
            right: -2px;
            background-color: $main-color;
            transform: rotate(45deg);
        }
        &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 2px;
            top: 0px;
            right: -2px;
            background-color: $main-color;
            transform: rotate(-45deg);
        }
    }
}
.first_title {
    padding: 30px 0px;
    border-bottom: 1px solid #CFD8DC;
}
.page_wrap {
	>.pagination {
		margin: 50px 0px;
	}
}
.pods-pagination-paginate {
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: center;
    &_number {
        display: block;
        padding: 8px 15px;
        margin-right: 5px;
        color: $main-color;
        font-size: 18px;
        line-height: 24px;
        border-radius: 8px;
        &:hover {
            color: $link-title-color;
            background-color: $bg-light-color;
        }
    }
    .current {
        color:#000;
        background-color: $bg-light-color;
        &:hover {
            color:#000;
        }
    }
    .dots {
        color:#000;
        &:hover {
            color:#000;
            background-color: #fff;
        }
    }
}
.channel {
    padding: 10px 30px 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_descr {
        position: relative;
        margin-left: 30px;
        padding: 5px 10px 5px 30px;
        width: 320px;
        border: 2px solid #039BE5;
        border-left: none;
        border-radius: 0px 8px 8px 0px;
        &_wrap {
            margin: 0 auto;
            p {
                font-weight: bold;
                color: $main-color;
            }
        }
        &_big {
            font-size: 18px;
        }
        .icon-telegram {
            position: absolute;
            top: -9px;
            left: -38px;
            color: #039BE5;
            font-size: 68px;
            animation: heartbeaticon 1.5s ease infinite;
        }
    }
    .btn {
        display: block;
        margin-left: 30px;
        background: #039BE5;
    }
}