* {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: normal;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
}

html, body {
    height: 100%;
}
.main_page {
    position: relative;
    /*overflow-x: hidden;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main_page_content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
footer.footer {
    flex: 0 0 auto;
}
.carousel, 
.footer,
button.btn,
a.btn {
    font {
        color: #ffffff;
    }
}
.header {
    .basket_value {
        font {
            font-size: 15px;
            line-height: 14px;
            color: #ffffff;
        }
    }
}
.overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0,0,0,.25);
}
.page_wrap {
    max-width: 1600px;
    margin: 0 auto;
}

.first {
    &_title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0px;
        z-index: 5;
        img {
            transition: all 0.6s ease;
            height: 38px;
        }
        h2 {
            transition: all 0.6s ease;
            margin-left: 15px;
            font-size: 30px;
            font-weight: 600;
        }
        &:hover {
            cursor: pointer;
            h2 {
                color: $item-color;
            }
            img {
                transform: scale(1.1) rotate(10deg);
            }
        }
    }
    &_text {
        margin: 0 auto;
        max-width: 1600px;
        font-size: 14px;
        margin-bottom: 25px;
        font-weight: 500;
    }
}
.category {
    padding: 2px 8px;
    width: fit-content;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #57534e;
    background-color: #e7e5e4;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        color: #ffffff;
        font-weight: 500;
        background-color: #ADACAC;

    }
    /* &.color_1 {
        
        background-color: $red-100; 
    }
    &.color_3 {
        
        background-color: $amber-100; 
    }
    &.color_6 {
       
        background-color: $fuchsia-100; 
    }
    &.color_7 {
        
        background-color: $sky-100; 
    }
    &.color_8 {
        
        background-color: $green-100; 
    }
    &.color_9 {
        
        background-color: $violet-100; 
    }
 */
}
