.woocommerce-notices-wrapper {
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        background-color: #EEF7F9;
    }
    .woocommerce-message {
        text-align: left;
    }
}

.product {
    &_item {
        display: grid;
        grid-template-columns: 510px 1fr;
        grid-template-rows: repeat(2, minmax(30px, auto));
        column-gap: 40px;
        padding: 25px 15px;
    }
    div {
        &.product_item {
            &:nth-child(5) {
                margin-bottom: 0px;
            }
        }
    }
    &_img {
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        p {
            position: relative;
            width: 100%;
            img {
                border-radius: 8px;
                object-fit: cover;
            }
            &:hover {
                .product_play {
                    display: block;
                }
            }
        }
    }
    &_play {
        display: none;
        position: absolute;
        top: 39%;
        left: 44%;
        z-index: 1;
        width: 12.5%;
    }
    div,
    div p,
    div p strong {
        text-align: left;
        color: #000;
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 15px;
    }
    span {
        font-size: 18px;
        line-height: 160%;
    }
    &_descr {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .title_descr {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: left;
        margin-bottom: 15px;
    }
    &_strong {
        font-weight: 600;
    }
    &_quant {
        color: #000;
    }
    .wrap {
        span {
            margin-right: 15px;
        }
    }
    .wrapper {
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
        span {
            margin-right: 15px;
        }
    }
    &_sum {
        .max-count {
            color:#000;
        }
    }
    &_wrap {
        display: flex;
        span {
            color: #000; 
        }
        .product_price {
            font-size: 24px;
            font-weight: 600;
        }
        .counter {
            margin-bottom: 0px;
            span {
                margin-right: 0px;
            }
        }
    }
    
    &_link {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        color: $main-color;
        font-size: 18px;
        line-height: 24px;
        .arrow {
            margin: 4px 0px 0px 5px;
            div {
                margin-bottom: 0px;

            }
        }
        &:hover {
            color: $link-title-color;
            .arrow {
                animation: services_arrow 1s linear infinite;
                div {
                    background-color: $link-title-color;
                    &::after {
                        background-color: $link-title-color;
                    }
                    &::before {
                        background-color: $link-title-color;
                    }
                }
            }
        }
    }
    &_select {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 260px;
        h3 {
            color: #000;
        }
        span {
            position: relative;
            display: block;
            width: 90px;
            border: 1px solid #CFD8DC;
            border-radius: 8px; 
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                top: calc(50% - 4px);
                right: 10px;
                border: solid rgba(0, 0, 0, 0.5);
                border-width: 0 2px 2px 0;
                padding: 2px;
                transform: rotate(45deg);
                z-index: 2;
            }
            &.active {
                background-color: #EEF7F9;
                &::before {
                    top: calc(50% - 2px);
                    transform: rotate(-135deg);
                }
            }
        }
        ul {
            display: none;
            position: absolute;
            top: 32px;
            right: 0px;
            width: 90px;
            border: 1px solid #CFD8DC;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0px 1px 4px rgba(26, 38, 56, 0.25), 0px 4px 16px rgba(27, 47, 58, 0.25);
            z-index: 5;
            li {
                padding: 5px 0px;
                cursor: pointer;
                &:first-child {
                    border-radius: 8px 8px 0px 0px;
                }
                &:last-child {
                    border-radius: 0px 0px 8px 8px;
                }
                &:hover {
                    background-color: #EEF7F9; 
                }
            }
        }
    }
    &.suvenir {
        .page_wrap {
            max-width: 1480px;
        }
        .product_item {
            grid-template-columns: 250px 1fr;
            column-gap: 30px;
        }
        .product_img {
            p {
                padding-bottom: 100%;
            }
        }
    }
}
.counter {
    width: 118px;
    height: 40px;
    border: 1px solid #CFD8DC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    span {
        font-size: 18px;
        line-height: 160%;
        color:#000;
        display: block;
        height: 100%;
        width: calc(100% / 3);
    }
    &_minus {
        position: relative;
        cursor: pointer;
        border-radius: 8px 0px 0px 8px;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 2px;
            width: 14px;
            background-color: $main-color;
        }
        &:hover {
            background-color: #EEF7F9;
            &::before {
                background-color: $link-title-color;
            }
        }
    }
    &_value {
        padding-top: 5px;
    }
    &_plus {
        position: relative;
        cursor: pointer;
        border-radius: 0px 8px 8px 0px;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 2px;
            width: 14px;
            background-color: $main-color;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 14px;
            width: 2px;
            background-color: $main-color;
        }
        &:hover {
            background-color: #EEF7F9;
            &::before {
                background-color: $link-title-color;
            }
            &::after {
                background-color: $link-title-color;
            }
        }
    }
}