.statistic {
    padding: 30px 10px;
    background-color: $bg-light-color;
    flex-grow: 1;
    .title_sections {
        margin-bottom: 30px;
    }
    &_wrap {
        display: flex;
        flex-wrap: wrap;
    }
    &_item {
        margin: 2px;
        width: calc((100% - 24px)/6);
    }
    &_letter,&_letter_second  {
        position: relative;
        padding: 30px 50px;
        height: 200px;
        border-radius: 4px;
        &::after {
            content: "";
            background-image: url(./img/icon/logo.svg);
            background-position: bottom right;
            background-repeat: no-repeat;
            position: absolute;
            background-size: 40%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.1;
            z-index: 1;
        }
    }
    &_letter {
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 25%);
        transition: all 0.5s;
        cursor: pointer;
        &.open {
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border: 10px solid transparent;
                border-bottom: 10px solid $bg-dark-color;
            }
        }
        &_symbol {
            font-size: 76px;
            line-height: 110%;
            text-align: left;
            z-index: 5;
        }
        &:hover {
            background-image: linear-gradient(#fff, #ECF7FA);
        }
        &_wrap {
            display: none;
            position: relative;
            background-color: $bg-dark-color;
            min-height: 240px;
        }
        &_second {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 200px;
            background-image: linear-gradient(#fff, $bg-light-color);
            box-shadow: 0 3px 6px 0 rgb(255 255 255 / 25%);
            opacity: 0.8;
        }
        &_periods {
            padding: 20px;
            padding-left: 250px;
        }
        &_period {
            position: relative;
            padding-left: 30px;
            margin-bottom: 15px;
            cursor: pointer;
            .plus {
                position: absolute;
                display: block;
                top: 4px;
                left: 0;
                height: 24px;
                width: 24px;
                border: 1px solid #CFD8DC;
                border-radius: 4px;
                &::before {
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 16px;
                    background-color: #CFD8DC;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &::after {
                    position: absolute;
                    content: '';
                    height: 16px;
                    width: 1px;
                    background-color: #CFD8DC;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &.open {
                .plus {
                    &::after {
                        display: none;
                    }
                } 
            }
        }
        &_title {
            color: #fff;
            font-size: 28px;
            line-height: 120%;
            text-align: left;
        }
    }
    &_denomination {
        display: none;
        margin: 20px;
        flex-wrap: wrap;
        &_wrap {
            display: flex;
            justify-content: space-between;
        }
        &_col {
            width: calc(50% - 30px);
        }
        &_link {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            margin-bottom: 10px;
            border-bottom: 1px solid #CFD8DC;
            transition: all 0.5s;
            p {
                color: #fff;
                font-size: 20px;
                line-height: 120%;

            }
            &:hover {
                p {
                    color: $link-light-color;
                }
            }
        }
        &_name {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            p {
                color: #CFD8DC;

            }
        }
        &_title {
            text-transform: uppercase;
        }
        &.visible {
            display: block;
            .statistic_denomination_name {
                p {
                    color: $bg-dark-color;
                }
            }
            .statistic_denomination_link {
                transition: all 0.5s;
                p {
                    color: $descr_color;
                }
                &:hover {
                    p {
                        color: $main-color;
                    }
                }
            }
        }
    }
}