.header_fixed {
    background-color: #fff;
    border-top: 1px solid #CFD8DC;
    &_scroll {
        width: 100%;
        top: 50px;
        position: fixed;
        z-index: 10;
    }
    .aioseo-breadcrumbs{
        margin: 20px 0px 0px;
    }
    .first_title {
        padding: 20px 0px;
    }
}
.varieties {
    flex-grow: 1;
    background-color: $bg-light-color;
    &_table {
        margin: 30px 0px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 4px;
        
        &_scroll {
            overflow-x: auto;
            position: relative;  
        }
        &_hidden {
            overflow: hidden;
            border-radius: 0px 4px 0px 0px;
            border: 1px solid $line-color;
            border-left: none;
        }
        table.pinned {
            flex-shrink: 0;
            width: 550px;
            z-index: 1;
            border-radius: 4px 4px 0px 0px;
            border: 1px solid $line-color;
            border-right: none;
            thead {
                position: relative;
                .varieties_table_pinned {
                    display: none;
                    &.head_scroll {
                        display: block;
                        position: fixed;
                        min-height: 40px;
                    }
                }
                tr {
                    background-color: $bg-dark-color;
                    th {
                        &:first-child {
                            border-radius: 4px 0px 0px 0px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    background-color: #fcfcfc;
                    td {
                        &:first-child {
                            text-align: left;
                        }
                    }
                    &:nth-child(2n) {
                        background-color: #e3f1f4;
                    }
                    &:last-child {
                        td {
                            &:first-child {
                                border-radius: 0px 0px 0px 4px;
                            }
                        }
                    }
                }
            }
        }
        table.info {
            thead {
                position: relative;
                .varieties_table_block {
                    position: fixed;
                    display: none;
                    &.right {
                        right: 0;
                    }
                    &.left {
                        left: 0;
                    }
                    &.add_bg {
                        display: block;
                        background-color: $bg-light-color;
                    }
                }
                .varieties_table_info {
                    display: none;
                    &.head_scroll {
                        display: block;
                        position: fixed;
                        min-height: 40px;
                    }
                }
                tr {
                    
                    background-color: #6a7b83;
                    th {
                        cursor: pointer;
                        min-width: 80px;
                        border-left: 1px solid #6a7b83;
                        border-right: 1px solid #6a7b83;
                    }
                }
            }
            tbody {
                tr {
                    background-color: #fff;
                    td {
                        cursor: pointer;
                        border-left: 1px solid #fff;
                        border-right: 1px solid #fff;
                    }
                    &:nth-child(2n) {
                        background-color: #eef7f8;
                        td {
                            border-left: 1px solid #eef7f8;
                            border-right: 1px solid #eef7f8;
                        }
                    }
                    &:last-child {
                        td {
                            &:last-child {
                                border-radius: 0px 0px 4px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    table {
        border-spacing: 0px;
        thead {
            tr {
                th {
                    white-space: nowrap;
                    padding: 10px;
                    color: #fff;
                    font-size: 16px;
                    line-height: 110%;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 10px; 
                }
                
            }
        }
    }
}
.filters {
    padding: 30px 10px;
    border-bottom: 1px solid #CFD8DC;
    .page_wrap {
        width: 1580px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_col {
        display: flex;
        align-items: center;
    }
    &_grade {
        border-right: 1px solid #CFD8DC;
        padding-right: 20px;
    }
    &_years {
        padding-left: 15px;
    }
    &_years, &_grade {
        &_wrap {
            display: flex;
            align-items: center;
            select {
                min-width: 80px;
                margin: 0px 5px;
                padding: 8px 5px;
                border: 1px solid #CFD8DC;
                border-radius: 6px;
                color: #607D8B;
                cursor: pointer;
                option {
                    color: #607D8B;
                }
            }
            p {
                color: $descr_color;
                margin: 0px 5px;
            }
        }
    }
    &_btn {
        margin-left: 20px;
        transition: all 0.5s;
        &::before {
            display: none;
        }
        &:hover {
            box-shadow: 0 3px 6px 0 rgba(0 0 0 / 25%);
        }
    }
    &_symbol {
        padding: 5px 15px;
        border-right: 1px solid #CFD8DC;
        &_wrap {
            display: flex;
            align-items: center;
        }
        .checkbox {
            margin: 0px 5px;
            &_checkmark {
                border: 2px solid $main-color;
            }
            &_body {
                display: flex;
                align-items: center;
                span {
                    display: block;
                    color: $descr_color;
                    font-size: 20px;
                    &:last-child {
                        font-size: 14px;
                        margin-left: 3px;
                    }
                    
                }
            }
            &.active {
                .checkbox_checkmark {
                    background-color: $main-color;
                }
            }
        }
    }
    &_details {
        margin-left: 20px;
        &_wrap {
            display: flex;
            align-items: center;
            .toggle {
               &_button {
                    position: relative;
                    display: inline-block;
                    width: 46px;
                    height: 26px;
                    margin: 0;
                    vertical-align: top;
                    background: #ffffff;
                    border: 1px solid $line-color;
                    border-radius: 30px;
                    outline: none;
                    cursor: pointer;
                    appearance: none;
                    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        left: 3px;
                        top: 1.5px;
                        width: 20px;
                        height: 20px;
                        background-color: $main-color;
                        border-radius: 50%;
                        transform: translateX(0);
                        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
                    }
                    &:checked {
                        &::after {
                            transform: translateX(calc(75% + 3px));
                            background-color: #fff;
                        }
                        background-color: $main-color;
                    }
                }
                &_text {
                    font-weight: bold;
                    margin-left: 10px;
                }
            }
            
            
        }

    }
    &_safeties {
        display: flex;
        margin-left: 20px;
        &_btn {
            margin: 0px 5px;
            padding: 8px 12px;
            border-radius: 6px;
            font-weight: bold;
            background: $bg-light-color;
            transition: all 0.5s;
            &.active {
                background: $btn-color;
                color:#fff;
            }
            &:hover {
                box-shadow: 0 3px 6px 0 rgba(0 0 0 / 25%);
            }
        }
    }
}