@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes heartbeaticon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes jump {
    70% { transform: translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        transform: translateY(-15%);
    }
    90% {
        transform: translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform: translateY(-7%);
    }
    97% {
        transform: translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
    
}
@keyframes services_arrow {
	0% {
		left: 0;
	}
	50% {
		left: 10px;
	}
	100% {
		left: 0;
	}
}