$main-color: #f5f5f5;
$item-color: #bb976d;


$bg-light-color: #E3F1F4;
$bg-dark-color: #455A64;
$descr_color: #263238;
$link-light-color: #A5D2E7;
$link-title-color:#3193C1; 
$btn-color: linear-gradient(90deg, #237BA3 0%, #208DBC 100%);
$btn-color-hov: #A5D2E7;
$line-color: #CFD8DC;

$bg-red-100: linear-gradient(180deg, rgba(254, 226, 226, 0.6), rgba(254, 226, 226, 0));
$red-100: #fee2e2;
$red-600: #dc2626;

$bg-orange-100: linear-gradient(180deg, rgba(255, 237, 213, 0.6), rgba(255, 237, 213, 0));
$orange-100: #ffedd5;
$orange-600: #ea580c;

$bg-amber-100: linear-gradient(180deg, rgba(254, 243, 199, 0.6), rgba(254, 243, 199, 0));
$amber-100: #fef3c7;
$amber-600: #d97706;

$bg-yellow-100: linear-gradient(180deg, rgba(254, 249, 195, 0.6), rgba(254, 249, 195, 0));
$yellow-100: #fef9c3;
$yellow-600: #ca8a04;

$bg-lime-100: linear-gradient(180deg, rgba(236, 252, 203, 0.6), rgba(236, 252, 203, 0));
$lime-100: #ecfccb;
$lime-600: #65a30d;

$bg-green-100: linear-gradient(180deg, rgba(220, 252, 231, 0.6), rgba(220, 252, 231, 0));
$green-100: #dcfce7;
$green-600: #16a34a;

$bg-emerald-100: linear-gradient(180deg, rgba(209, 250, 229, 0.6), rgba(209, 250, 229, 0));
$emerald-100: #d1fae5;
$emerald-600: #059669;

$bg-teal-100: linear-gradient(180deg, rgba(204, 251, 241, 0.6), rgba(204, 251, 241, 0));
$teal-100: #ccfbf1;
$teal-600: #0d9488;

$bg-cyan-100: linear-gradient(180deg, rgba(207, 250, 254, 0.6), rgba(207, 250, 254, 0));
$cyan-100: #cffafe;
$cyan-600: #0891b2;

$bg-sky-100: linear-gradient(180deg, rgba(224, 242, 254, 0.6), rgba(224, 242, 254, 0));
$sky-100: #e0f2fe;
$sky-600: #0284c7;

$bg-blue-100: linear-gradient(180deg, rgba(219, 234, 254, 0.6), rgba(219, 234, 254, 0));
$blue-100: #dbeafe;
$blue-600: #2563eb;

$bg-indigo-100: linear-gradient(180deg, rgba(224, 231, 255, 0.6), rgba(224, 231, 255, 0));
$indigo-100: #e0e7ff;
$indigo-600: #4f46e5;

$bg-violet-100: linear-gradient(180deg, rgba(237, 233, 254, 0.6), rgba(237, 233, 254, 0));
$violet-100: #ede9fe;
$violet-600: #7c3aed;

$bg-purple-100: linear-gradient(180deg, rgba(243, 232, 255, 0.6), rgba(243, 232, 255, 0));
$purple-100: #f3e8ff;
$purple-600: #9333ea;

$bg-fuchsia-100: linear-gradient(180deg, rgba(250, 232, 255, 0.6), rgba(250, 232, 255, 0));
$fuchsia-100: #fae8ff;
$fuchsia-600: #c026d3;

$bg-pink-100: linear-gradient(180deg, rgba(252, 231, 243, 0.6), rgba(252, 231, 243, 0));
$pink-100: #fce7f3;
$pink-600: #db2777;

$bg-rose-100: linear-gradient(180deg, rgba(255, 228, 230, 0.6), rgba(255, 228, 230, 0));
$rose-100: #ffe4e6;
$rose-600: #e11d48;