$main-color: #23759C;
$bg-light-color: #E3F1F4;
$bg-dark-color: #455A64;
$descr_color: #263238;
$link-light-color: #A5D2E7;
$link-title-color:#3193C1; 
$btn-color: linear-gradient(90deg, #237BA3 0%, #208DBC 100%);
$btn-color-hov: #A5D2E7;
$line-color: #CFD8DC;